*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
}

#profile{
    text-align: center;
    width: 70%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

#contentenido1{
    display: flex;
    background-color: gray;
    height: 22vh;
    width: 50px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    border-radius: 5px;
}

#foto{
    background-color: gainsboro;
    margin: 15px;
    width: 20%;
    height: 18vh;
    border-radius: 5px;
}

#descripcion{
    background-color: gainsboro;
    margin: 15px;
    width: 80%;
    height: 18vh;
    border-radius: 5px;
}

#contentenido2{
    display: flex;
    background-color: gray;
    height: 75vh;
    width: 50px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    border-radius: 5px;
}

#lateral{
    background-color: gainsboro;
    margin: 15px;
    width: 20%;
    height: 70vh;
    border-radius: 5px;
}

#main{
    background-color: gainsboro;
    margin: 15px;
    width: 80%;
    height: 70vh;
    border-radius: 5px;
}

#games{
    background-color: grey;
    margin: 10px;
    width: 97%;
    height: 21vh;
    border-radius: 5px;
}